.fav__page
    a(href='https://tds.favbet.partners' class='all-link')
    .land
        .land__logo
        .land__info
            .land__info-title
                .land__info-title-top.glitch(data-trick="Bônus") Bônus
                .land__info-title-bottom.glitch(data-trick="de boas-vindas") de boas-vindas
            .land__info-wrapper
                ul.land__info-list
                    li.land__info-item
                        .land__info-item-top 1500
                        .land__info-item-bottom #[span BRL] de depósito
                    li.land__info-item
                        img(src='img/plus.svg' alt='plus')
                    li.land__info-item
                        .land__info-item-top 300
                        .land__info-item-bottom #[span BRL] em apostas
                a(href='https://tds.favbet.partners').land__info-link Comece a ganhar
            .land__info-copy
                img(src='img/visa.svg' alt='visa').land__info-copy-img.land__info-copy-visa
                img(src='img/coins.svg' alt='coins').land__info-copy-img.land__info-copy-coins
                img(src='img/mastercard.svg' alt='mastercard').land__info-copy-img.land__info-copy-master
        .land__game
            .land__game-wrapper
                .land__game-top
                .land__game-bottom
                .land__game-image
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/game-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/game-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/game-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/game-desc.png")
                        img(src="img/game-desc.png" alt="Favbet")
                .land__game-coin1
                .land__game-coin2
                .land__game-coin3
                .land__game-coin4
                .land__game-coin5
                .land__game-coin6






